.contenant{
   display: flex; 
  align-items: center;
   width: 80%;
   height: 15rem;
    justify-content: center;
    background-color: red;
}
.contenu{
 width : 20%;
 height: 55%;
 display: flex;
 flex-direction: column;
 justify-content: space-between;
 align-items: center;
 background-color: #C75146;
 padding: 2rem;
}
.myInput{
    width: 10rem;
    height: 1.5rem;
    border: none;
}
.myLabel{
    color: white;
    width: 10rem;
}
.myButton{
   background-color: #AD2E24 ; 
   border: none;
   width: 50%;

   height: 1.75rem;
   color: white;
   font-weight: bolder;
}
.leForm{
  display: flex;
  justify-content: center;  
}

*{
    font-family: Dosis;
}

