.myTd{
  width: 10%;
  border: 1px solid black;
  background-color: #F1F1F1 ;

  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.25);
  padding: 0.5rem;
}
.myTable{
    width: 80%;
}
.myTableBody{
    width: 75%;
}
.controleur{
    display: flex;
    justify-content: center;
}