/* Accueil */
.back{

  background-image: url("./components/pexels-fauxels-3182773.jpg");
  /* background-repeat: no-repeat; */
  background-attachment: fixed;
  background-position: right top;
  height: 100vh;
}

.manageDisplay{
display: flex;
justify-content: center;
text-align: center;
}
.manage{
  margin-top: 5%;
  color: white;
  font-size: 60px;
  text-decoration: underline;
  text-shadow: 1px 2px black;

  
}


.pAcc{
  color: white;
  text-align: center;
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 25%;
  font-size: 20px;
}

.displayP{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 3%;
}

.displayBtn{
  display: flex;
  justify-content: center;

}

.btnSign{
  background-color: #EA8C55;
  padding: 5px;
  border-radius: 5px;

}
/* Footer */

.footer{
  background-color: #540804;
  
  
}

.troisTitres{
  display: flex;
  justify-content: space-around;
  color: grey;
  padding: 20px;

 

  
}

i{
  cursor: pointer;

}

.pFooter{
  cursor: pointer;

}

.h4Footer{
  color: white;
}

.logos{
  color:#EA8C55;
  display: flex;
  justify-content: space-between;
  width: 15% ;
  font-size: 25px;
  align-items: center;


}

.align-logos{
  align-items: center;
  display: flex;
  justify-content: center;

}

.corporation{
  margin-top: 20px;
  color: rgb(179, 179, 179);
}